<div class="container my-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center h2">USER ERROR {{accion}}</h1>


    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-6 offset-md-3">
    <a href="{{regreso}}" class="btn btn-secondary" >Volver</a>
  </div>
</div>